@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* header section start  */
#header-section {
    background-image: url(images/donation9.jpg);
    background-size: cover;
    height: 100vh;
}

.header-top {
    text-align: center;
    padding-top: 260px;
    color: white;
}

h1 {
    font-size: 50px;
}

.donate-btn {
    background-color: tomato;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

/* header section end */

/* donations section start  */
#donate-now {
    text-align: center;
    padding-top: 100px;
}

.donat-button {
    width: 80%;
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;

}

.donate-money {
    width: 100px;
    height: 100px;
    background-color: #FAFAFA;
    border: none;
    color: #707070;
    font-size: 25px;
    font-weight: 700;

}

.active {
    background-color: #FFEEEE;
    border: 1px solid #FF5959;
    border-radius: 5px;

}

.donate-amount {
    padding-bottom: 100px;
}

.donate-amount input {
    width: 80%;
    padding: 12px;
    text-align: center;
    border: none;
    border-bottom: 1px solid tomato;

}

/* donations section end  */

/* donation-plan-section start  */
#donation-plan-section {
    padding-bottom: 100px;
}

.donate-plan-title {
    text-align: center;
}

.donate-packages {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    gap: 20px;
}

.packages-item-food {
    width: 50%;
    padding: 20px;
    background-color: #fcebe4;
    border-radius: 5px;
}

.packages-item-shelter {
    width: 50%;
    padding: 20px;
    background-color: #f5ede2;
    border-radius: 5px;
}

.packages-item-education {
    width: 50%;
    padding: 20px;
    background-color: #e9eadd;
    border-radius: 5px;
}

/* donation-plan-section end  */